body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
}

.story {
    height: 900px;
    margin: 0 auto; 
    padding: 0;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.story article {
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    z-index: 999;
}
.story article p {
    margin-bottom: 25px; 
}
article {
    border: 1px solid rgba(150,150,150,0.1);
    color: #fff;
    line-height: 1.5em;
    opacity: 0.9;
    padding: 10px 20px;
    position: absolute;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
article h2 { font-family: 'Ruthie', cursive; font-size: 60px; margin: 25px 0; line-height: 1em; }


#welcome { background: url(../img/background.jpg) 50% 50% no-repeat fixed; }
#the-bride { background: url(../img/the-bride.jpg) 50% 50% no-repeat fixed; }
#the-groom { background: url(../img/the-groom.jpg) 50% 50% no-repeat fixed; }
#our-story { background: url(../img/our-story.jpg) 50% 50% no-repeat fixed; }
#the-engagement { background: url(../img/the-ringer.jpg) 50% 50% no-repeat fixed; }
#the-wedding-1 { background: url(../img/wedding3.jpg) 50% 50% no-repeat fixed; }
#the-wedding-2 { background: url(../img/wedding.jpg) 50% 50% no-repeat fixed; }

/* Introduction */
#welcome .intro { 
    background: url(../img/logo.png) 50% 100px no-repeat fixed; 
    min-height: 900px; 
    padding: 0; margin: 0; width: 100%; max-width: 1000px; position: relative; margin: 0 auto; }
#welcome article { width: 100%; top: 300px; position: absolute; text-align: center; }
#welcome article p,
#welcome article a { color: #ccc; }
#welcome article a { text-decoration: underline; }
#welcome article a:hover { color: #fff; }

/* The Bride */
#the-bride { 
    padding: 50px 0;
}
#the-bride article { 
    background: url(../img/purple-grain.png) repeat #303;
    border: 1px solid rgba(150,150,150,0.1);
    margin: 100px 0 0 55%; 
    top: 100px;
    width: 445px;
}
#the-bride article a { 
    color: #ff0;
}

/* The Groom */
#the-groom article {  
    background: url(../img/purple-grain.png) repeat #303;
    margin: 100px 0 0 8%; 
    width: 430px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3); 
}
#the-groom .photograph { 
    background: url(../img/photo.png) transparent 40% 100px no-repeat fixed; 
    min-height: 1000px; 
    padding: 0; 
    margin: 0; 
    width: 100%; 
    position: relative; 
    margin: 0 auto; 
}

/* Our Story */
#our-story article {
    background: url(../img/grain.png) repeat #333;
    margin: 200px 0 0 55%;
    width: 420px;
}
/* The Engagement */
#the-engagement { 
    padding: 50px 0;
}
#the-engagement article { 
    background: url(../img/grain.png) repeat #333;
    margin: 100px 0 0 50%;
    width: 445px;
}
#the-engagement article a { 
    color: #ff0;
}

/* The Wedding */
#the-wedding-1 article { 
    background: #333;
    opacity: 0.7;
    margin: 100px 0 0 10%;
    width: 650px;
}

#the-wedding-2 article { 
    background: #333;
    opacity: 0.7;
    margin: 100px 0 0 10%;
    width: 650px;
}

/* -------------------- */
/* Navigation           */
/* -------------------- */
nav#side-nav { 
    position: fixed; 
    left: 20px; 
    top: 400px; 
    z-index: 9999;
}
nav#side-nav li {
    display: inline;
    height: 20px;
    position: relative;
}
nav#side-nav a {
   display: block;
   width: 20px;
   height: 20px;
   background: url(../img/dotnav.png) 0 100% no-repeat;
   text-indent: -9000px;
   overflow: hidden;
}
nav#side-nav a:hover, a.active {
   background: url(../img/dotnav.png) 0 0 no-repeat !important;
}
#site-bottomnav {
    position: fixed;
    top: 20px;
    left: 10px;
    padding: 10px;
    z-index: 99999;
}
#site-bottomnav a{
     margin: 0 7px 0 0 !important;
     width: 45px;
     height: 45px;
     text-indent: -9000px;
     float: left;
}
.icon-contact {
    background: url(../img/contact-us.png) 0 0 no-repeat;
}
.icon-rsvp {
    background: url(../img/rsvp.png) 0 0 no-repeat;
}
.icon-contact:hover,  .icon-rsvp:hover{
    background-position: 0 100%;
}