{% extends "base.html" %}
{% block content %}
<div class="fancybox">
    <div class="fancybox-title">
        <h3>RSVP for {{guest.email}}</h3>
        <!--- TODO: option to sign out -->
    </div>
    <div class="fancybox-body">
        <form action="/rsvp-submit" method="get">
            <p class="first"> 
                <label for="name">Name</label>
                <input type="text" name="name" size="50" maxlength="50" 
                    {% if guest.name %}value="{{guest.name}}"{% endif %}>
            </p>
            <p>
                <label for="coming">Will you be joining us in Pune?</label>
                <select id="coming" name="coming">
                    {% for val,txt,default in rsvp_main_opts %}
                        <option value="{{val}}"{% if default %} selected {% endif %}>{{ txt }}</option>
                    {% endfor %}
                </select>
            </p>            
            <!--- IF YES -->
            <p class="rsvp_yes">
                <label for="count">Great! Size of your group:</label>
                <select name="count" {% if disabled %}disabled="disabled"{% endif %}>
                    {% for val in count_opts %}
                        <option value={{val}} {% ifequal val guest.count %} selected {% endifequal %}>{{val}}</option>  
                        <!--- TODO: should be int -->
                    {% endfor %}
                </select>
            </p>
            <!-- Reaching pune details -->
            <p class="rsvp_yes">
                <label for="checkin">Checking in at Bonboutique? If so, when?</label>
                <select name="checkin">
                    {% for val in checkin_opts %}
                        <option value="{{val}}" {% ifequal val guest.checkin %} 
                        selected {% endifequal %} >{{val}}</option>
                    {% endfor %}
                </select>
            </p>

            <p class="rsvp_yes">
                <label for="checkout">...and checking out?</label>
                <select name="checkout">
                    {% for val in checkout_opts %}
                        <option value="{{val}}" {% ifequal val guest.checkout %}selected{% endifequal %}>{{val}}</option>
                    {% endfor %}
                </select>
            </p>
            <!--- Bombay airport ride? -->
            <p class="rsvp_yes">
                <label for="ride_from_bom">Flying into BOM Airport on Jun 9?</label>
                <select name="ride_from_bom">
		  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
            </p>
	        <!-- END OF "IF YES" -->
 
            <!-- Message -->
            <p>
                <label for="message">Optional Message</label>
                <textarea name="message" rows="5" cols="40" maxlength="200"></textarea>
            </p>
            <p> <input type="hidden" name="email" value="{{guest.email}}"></input></p>
            <p>
                <input type="submit" value="Submit">
            </p>

	    <p><label for="message-print">
		{% for m in guest.message %} {{m}} <br>{% endfor %}
	    </p>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type='text/javascript'>
    jQuery(function($){
        // snippet to hide and show
        $('select#coming').change(function(e){
            var val = $(this).val();
            if (val ==='yes' || 'maybe'){
                $('.rsvp_yes').show();
            } else {
                $('.rsvp_yes').hide();
            }
            
        });
    });
</script>
{% endblock %}
