<div class="fancybox" id="directions_modal">
    <div style="margin-left: 30px"
        <a href="http://g.co/maps/u7m7c" target="_blank"><img src="img/map.gif" class="map" title="The Corinthians Bon Boutique Hotel, Nyati County,NIBM Annexe, South Pune, Pune-411060"></a>
    </div>
    <div style="height: 55px; overflow: hidden">
    <div class="col1">
        <ul class="getting-there">
            <li><a title="By Plane" data-main="<strong>Closest International Airport: Mumbai, Maharashtra</strong> <br/><br/>Within India, flights are available to the Pune Airport from any major city. Flight TIme 1-2.5 hrs. From the airport, a cab would cost INR 200 (USD 4) to get to the hotel.<br/><br/><strong>Local Airlines:</strong> Kingfisher, JetLite, SpiceJet, Air India, GO Air, Indigo. <br/><br/><strong>Helpful booking sites:</strong>
            <a href='http://www.cleartrip.com/' target='blank'>Cleartrip</a>,
            <a href='http://www.makemytrip.com/' target='blank'>MakeMyTrip</a>,
            <a href='http://www.yatra.com/' target='blank'>Yatra</a>,
            <a href='http://www.cheapoair.com/' target='blank'>CheapoAir</a>,
            <a href='http://www.airfarewatchdog.com/' target='blank'>AirfareWatchdog</a>,
            <a href='http://www.vayama.com/' target='blank'>Vayama</a>" class="plane"></a></li>
            <li><a title="By Train" data-main="<strong>From Mumbai:</strong> approx 3 hours<br/><br/><strong>From Chennai:</strong> approx 19-23 hours<br/><br/><strong>From Bangalore:</strong> approx 19-23 hours<br/><br/><strong>From Delhi:</strong> approx 23-25 hours<br/><br/><strong>From Ambala:</strong> approx 28 hours<br/><br/><strong>Helpful booking sites:</strong>
            <a href='http://www.cleartrip.com/' target='blank'>Cleartrip</a>,
            <a href='http://www.makemytrip.com/' target='blank'>MakeMyTrip</a>,
            <a href='http://www.yatra.com/' target='blank'>Yatra</a>,
            <a href='https://www.irctc.co.in/' target='blank'>Indian Railway Corp</a>" class="train"></a></li>
            <li><a title="By Road" data-main="We recommend road travel only if you are travelling from Mumbai. The approximate journey is about 2 hours. <br /><br />We are in the process of arranging for private buses for the party on June 9th at various times. We will post this information as soon as we have more details." class="road"></a></li>
        </ul>
    </div>
    <div class="col2">
        <h2 class="title">Click Icon for Directions</h2>
    </div>
    </div>
    <div style="clear:both">
        <div class="main"></div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function($){
        $('.getting-there li a').live('click', function(e){
            $('.title').html($(this).attr('title'))
            $('.main').html($(this).attr('data-main'));
        })
        
    });
</script>
