<div id="gallery" style="display:none">
<a href="img/fixed/image1.jpg" rel="prettyPhoto[pp_gal]" title="You can add caption to pictures."><img src="img/thumbs/image1.jpg" width="60" height="60" alt="Red round shape" /></a>

<a href="img/fixed/image2.jpg" rel="prettyPhoto[pp_gal]"><img src="img/thumbs/image2.jpg" width="60" height="60" alt="Nice building" /></a>

<a href="img/fixed/iimage3.jpg" rel="prettyPhoto[pp_gal]"><img src="img/thumbs/image3.jpg" width="60" height="60" alt="Fire!" /></a>

<a href="img/fixed/iimage4.jpg" rel="prettyPhoto[pp_gal]"><img src="img/thumbs/image4.jpg" width="60" height="60" alt="Rock climbing" /></a>

<a href="img/fixed/iimage5.jpg" rel="prettyPhoto[pp_gal]"><img src="img/thumbs/image5.jpg" width="60" height="60" alt="Fly kite, fly!" /></a>
</div>