<div class="fancybox" id="directions_modal">
        <p>Dear Family and Friends,</p>
<p>We're unable to accept any boxed gifts since we're going to begin our married life living in a box-sized apartment in New York until we find a large enough space to accommodate our wants. However, we didn't want to deny you the option of gifting us something that'd remind us of you.</p>

<p>We're registered at <a href="https://knackregistry.com/registry/382" target="_blank">Knack</a> for our wedding, where we've added products and experiences that we'd like to be gifted. We're captivated by the idea of collaborative gifting. So, we've split up each gift item we'd like into a number of individually selectable parts. Thus, you can contribute towards any item, in part or whole. Eventually, we'll receive a cash payment for the total contribution but rest assured that we'll use the money towards the product or experience you've gifted us.</p>

<p>Thank you for granting our wishes!</p>

Nitya &amp; Sriram
</div>
<script type="text/javascript">
    jQuery(function($){
        $('.getting-there li a').live('click', function(e){
            $('.title').html($(this).attr('title'))
            $('.main').html($(this).attr('data-main'));
        })
        
    });
</script>
