{% extends "base.html" %}
{% block content %}
<div class="fancybox">
    <div class="fancybox-title">
        <h3>RSVP</h3>
    </div>
    <div class="fancybox-body">
        <form action="{% url rsvp_login %}" method="post" id="email_form">
            <p>
                <div class="error_message hidden">Please enter a valid email</div>
            </p>
            <p>
                {{ form.email.errors }}
                <label for="email">Email: </label>
                {{ form.email }}
            </p>
            <p>
                <input class='submit' type="submit" value="Submit">
            </p>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    jQuery(function($){
        
        $('#email_form').submit(function() {
            $.fancybox.showActivity();
            var emailform = $(this);
            var email = $('#id_email', emailform).val()
            if(email == null || email == "") {
                $.fancybox.hideActivity();
                $('.error_message', emailform).removeClass('hidden');
                $.fancybox.resize();
                return false;
            }
        });
    });
</script>
{% endblock %}
