{% block extra_css %}
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/tipsy.css">
{% endblock %}
{% block content %}
<div class="fancybox">
    <div class="fancybox-title">
        <h3>RSVP</h3>
    </div>
    <div class="fancybox-body">
        <form action="{% url rsvp_login %}" method="post" id="email_form">
            <p>
                <div class="errorlist hidden">Please enter a valid email</div>
            </p>
            <p>
                {{ form.email.errors }}
                <label for="email">{{ form.email.label }}</label>
                {{ form.email }}
            </p>
            <p>
                <input class='submit' type="submit" value="Submit">
            </p>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript">
    jQuery(function($){
        
        $('#email_form').submit(function() {
            $.fancybox.showActivity();
            var emailform = $(this);
            var email = $('#id_email', emailform).val()
            if(email == null || email == "") {
                $.fancybox.hideActivity();
                $('.errorlist', emailform).removeClass('hidden');
                $.fancybox.resize();
                return false;
            }
        });
        
        $('.tip').tipsy({
            gravity: 'w',
            trigger: 'focus'
        });
    });
</script>
{% endblock %}
