{% extends "base.html" %}

{% block extra_js %}
<script type='text/javascript'>
    jQuery(function($){
        
        $(document).ready(function(){
            var content = "{{ form_html|escapejs }}"
            $.fancybox({
                content: content
            })
        })
        
        /*// snippet to hide and show
        $('select#id_coming').change(function(e){
            display_all_fields();
        });
        
        function display_all_fields(){
            var select = $('select#id_coming').val();
            if( select === "1" || select === '2'){
                $('.rsvp_yes').show();
            } else {
                $('.rsvp_yes').hide();
            }
        }
        display_all_fields();
        
        $("#id_checkin" ).datepicker({ 
            minDate: new Date(2012, 5, 9), 
            maxDate: new Date(2012, 5, 10) 
        }).bind('keydown', false);
        
        $("#id_checkout" ).datepicker({ 
            minDate: new Date(2012, 5, 10), 
            maxDate: new Date(2012, 5, 11) 
        }).bind('keydown', false);
        
        $('#edit_form').click(function(e){
            $('[disabled]').removeAttr('disabled'); // enable all the fields
        });
        
        {% if disabled %}
            $('#rsvp_form :input').attr('disabled', true);
        {% endif %}
    });*/
</script>
{% endblock %}
